td[align=center], th[align=center]
  text-align:center

td[align=right], th[align=right]
  text-align:right

.article-entry td, th
  padding: 10px 4px

#article-nav
  display:none

.article-footer
  display: flex
  justify-content: space-between
  align-items: center

.article-tag-list
  flex: 1 1 auto;

.article-share-buttons
  display: flex
  flot: right

.article-share-buttons > *
  margin-left: 8px
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  box-shadow: 1px 1px 2px rgba(100,100,100,.4);

