<div id="stocktwits-widget-news"></div><a href='https://stocktwits.com' style='font-size: 0px;'>Stocktwits</a>
<script type="text/javascript" src="https://api.stocktwits.com/addon/widget/2/widget-loader.min.js"></script>
<script type="text/javascript">
  STWT.Widget({ container: 'stocktwits-widget-news', user: 'strx', width: '284', height: '300', limit: '15', scrollbars: 'true', streaming: 'true', title: 'strx on StockTwits', style: { link_color: '4871a8', link_hover_color: '4871a8', header_text_color: '000000', border_color: 'cecece', divider_color: 'cecece', divider_color: 'cecece', divider_type: 'solid', box_color: 'f5f5f5', stream_color: 'ffffff', text_color: '00000', time_color: '999999' } });
</script>
